:root{
    --roxo: #8C1F85;
    --roxo-escuro: #5D2E89;
    --roxo-claro: #8A1C7C;
    --azul: #0D4FA1;
    --fundo: #0D0D0D;

}

*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}



h1{
    text-transform: uppercase;
}

a{
    color: white;
    text-decoration: none;
}

body{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background: var(--fundo);
}

.flex-container{
    display: flex;
}

.vertical{
    flex-direction: column;
}

.items--center{
    align-items: center;
}

.content--around{
    justify-content: space-around;
}


header, footer{
    color: white;
    height: 12vh;
    min-height: 60px;
    display: flex;
    align-items: center;
}


main{
    flex: 1;
    background: var(--azul);
    
}

.menu{
    width: 100%;
}

.menu__logo{
    align-self: flex-start;
    width: 20%;
    min-width: fit-content;
}

.menu__logo>h1, .menu__logo>img{
    margin-left: 10px;
}



.menu__list{
    flex: 1;
    list-style-type: none;
}









