:root{
    --roxo: #8C1F85;
    --roxo-escuro: #5D2E89;
    --roxo-claro: #8A1C7C;
    --azul: #0D4FA1;
    --fundo: #0D0D0D;
    --hamburguer-width: 30px;
    --hamburguer-height: 2px;

}

*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}






a{
    color: white;
    text-decoration: none;
}

body{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background: var(--fundo);
}

.uppercase{
    text-transform: uppercase;
}

.flex-container{
    display: flex;
}

.vertical{
    flex-direction: column;
}

.items--center{
    align-items: center;
}

.content--around{
    justify-content: space-around;
}


header, footer{
    color: white;
    height: 12vh;
    width: 100vw;
    display: flex;
    align-items: center;
}


main{
    width: 100vw;
    display: flex;
    flex: 1;
    background: var(--azul);
    justify-content: center;
    align-items: center;
    
}

.menu{
    height: 100%;
    width: 100%;
}

.menu__logo{
    
    width: 20%;
    min-width: fit-content;
}

.menu__logo>h1, .menu__logo>img{
    margin-left: 10px;
}

.menu__list{
    flex: 1;
    list-style-type: none;
    justify-content: space-around;
}

.mobile{
    display: none;
}

.cube_section{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cube{
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(-45deg) rotateY(-45deg);
    -webkit-user-drag: none;
    user-select: none;
}

.cube .side{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, purple, black);
    transform: rotateY( calc(90deg * var(--i))) translateZ(150px);
    -webkit-user-drag: none;
    user-select: none;
    
}

.cube .top{
    width: 100%;
    height: 100%;
    position: absolute;
    background: radial-gradient(rgb(199, 32, 199), purple);
    transform: rotateX(90deg) translateZ(150px);
    -webkit-user-drag: none;
    user-select: none;
    
}





.cube .bottom{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    transform: rotateX(90deg) translateZ(-150px);
    -webkit-user-drag: none;
    user-select: none;
}






/*Responsive*/

@media (max-width: 700px) {
    .mobile{
        display: flex;
    }

    .menu__list{
        opacity: 0%;
        position: absolute;
        margin: 0;
        padding: 0;
        border: 0;
        right: 0;
        left: 100%;
        top: 11vh;
        flex-direction: column;
        height: 89vh;
        width: 50%;
        background-color: var(--fundo);
        transition: .5s;
    }

    .list--show{
        transform: translateX(-90%);
        opacity: 100%;
       
    }

    .menu{
      
        justify-content: space-between;
    }

    .menu__button{
        width: var(--hamburguer-width);
        height: 50%;
        cursor: pointer;
        margin-right: 20px;
        transition: .3s;
        
    }

    .menu__button__hamburger{
        width: 100%;
        height: var(--hamburguer-height);
        background-color: white;
        transition: .1s ease-in;
        
    }

    

    .menu__button__hamburger::before{
        position: absolute;
        content: "";
        width: var(--hamburguer-width);
        height: var(--hamburguer-height);
        background-color: white;
        margin-top: -10px;
        transition: .3s ease-out;
    }

    
    .menu__button__hamburger::after{
        position: relative;
        content: "";
        width: 100%;
        height: var(--hamburguer-height);
        background-color: white;
        margin-top: 10px;
        transition: .3s ease-out;
    }

    .menu__button--toggled > .menu__button__hamburger{
        background-color: transparent;
        
    }

    .menu__button--toggled > .menu__button__hamburger::after{
        transform: rotate(-45deg);
        margin-top: 0;
        
    }

    .menu__button--toggled > .menu__button__hamburger::before{
        transform: rotate(45deg);
        margin-top: 0;
    }

   

    

    @media (max-width: 300px) {
        .menu__logo h1{
            display: none;
        }

        .menu__list{
            width: 112%;
            transition: 0s;
        }
        
    }
}

@media (max-height: 500px) {
    header{
        height: 60px ;
    }

    .menu__list{
        top: 60px;
    }
}


